.movies {
    text-align: center;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
        content: "";
        flex: auto; /* Or set a fixed width equal to your items */
    }
    
}

app-movie-card {
   width: 24%;
   margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .movies {
        flex-direction: column;
        align-items: stretch;
    }    
}

.search-label {
    font-weight: bold;
    margin-right: 10px;
}   

.search-container {
    margin: 20px auto 50px;
    display: flex;
    align-items: center;
    max-width: 50vw;

    input {
        margin-left: 15px;
        padding: 8px 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: calc(100% - 100px);    
    }
}

.clear-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}