
  <div class="search-container">
    <label for="searchInput" class="search-label">Search:</label>
    <input id="searchInput" type="text" (input)="filterDisplayOnSearch($event)" placeholder="Enter search term" value="Aliens"/>
  </div>


  <div *ngIf="myMovies && myMovies.length && myMovies.length > 0" class="results-count">
    <p>Displaying {{ myMovies?.length }} of {{ myMoviesOG?.length }} movies.</p>
    <ul class="movies">
      <app-movie-card *ngFor="let movie of myMovies" [movie]="movie"></app-movie-card>
    </ul>
  </div>