.projects {
    text-align: center;
    margin-top: 20px;
    
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.project-item {
    box-sizing: border-box;
    padding: 10px 0;
    font-size: 18px;
    list-style-type: none;
    width: 30%;
}

.even {
    background-color: #f9f9f9;
}

.odd {
    background-color: #e9e9e9;
}

.skill-pill{
    display: inline-block;
    background-color: #cccccc;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px;
    font-size: 14px;
    &.active {
        background-color: #0056b3;
    }
    &:hover {
        background-color: #0056b3;
        cursor: pointer;
    }
    &.active:hover {
        background-color: #004080;
    }
    &.disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
    
}