* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}


body {
    padding: 0;
    margin:  0 !important;
}
header {
    padding: 40px;
    margin: 0;
    background-color: #f5f5f5;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

h1 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
    color: #555;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0 100px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #666;
}