<div class="app-container">
  <!-- <input type="text" [disabled]="isDisabled" />

  <input id="myFileInput" type="file" accept="image/*;capture=camera">

  <button (click)="isDisabled = !isDisabled">
    {{ isDisabled ? 'Enable' : 'Disable' }} Input
  </button>   -->


  <h1>My Portfolio</h1>
  <div class="filters-container">
    <div class="skills-container">
      <label class="search-label">Show skill: </label>
      <a class="skill-pill" [class.active]="activeSkills.includes(skill)" *ngFor="let skill of skills" (click)="filterDisplayOnSkill(skill, $event)">
        {{ skill }}
      </a>
      <button class="clear-button" (click)="resetActiveSkills()" [disabled]="activeSkills.length === 0">Clear</button>
    </div>
    <div class="search-container">
    <label for="searchInput" class="search-label">Search:</label>
    <input id="searchInput" type="text" (input)="filterDisplayOnSearch($event)" placeholder="Enter search term" />
  </div>
  </div>


  <p>
    Displaying {{ myProjects.length }} of {{ myProjectsOG.length }} projects.
  </p>
  <ul class="projects">
    <li class="project-item" *ngFor="let project of myProjects; index as i; let isOdd = odd; let isEven = even"
        [class.odd]="isOdd" [class.even]="isEven">
      <h2>{{ project.company }}</h2>
      <h3>My role: {{ project.role }}</h3>
      <img [src]="project.imageSrc" alt="{{ project.company }} Image" width="200" />
      
      <p>{{ project.description }}</p>
      <a [href]="project.link" target="_blank">View Project</a>
    </li>
  </ul> 

  <div class="footer">
    <p>© {{ year }} Erin Butler Web Dev</p>
  </div>
</div>
